page-intro {

background-color: #279eb3c0;

.swiper-pagination-bullet-active {
    background: white;
}

.bg-image{
    background-image: url(../assets/imgs/b3.png);
    background-repeat: no-repeat;
    background-position: center;
}



.mywhite{
    color: rgb(24, 43, 219);
}

}